[
  {
    "name": "{{ name }}",
    "jsonRepresentation": {
      "title": "onap.policies.controlloop.guard.common.MinMax",
      "type": "object",
      "description": "Supports Min/Max number of entity for scaling operations. Although min and max fields are marked as not\nrequired, you need to have at least one or the other.\n",
      "required": [
        "actor",
        "operation",
        "target"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The Control Loop id this applies to."
        },
        "actor": {
          "type": "string",
          "description": "Specifies the Actor the guard applies to."
        },
        "operation": {
          "type": "string",
          "description": "Specified the operation that the actor is performing the guard applies to."
        },
        "timeRange": {
          "title": "tosca.datatypes.TimeInterval",
          "type": "object",
          "required": [
            "start_time",
            "end_time"
          ],
          "properties": {
            "start_time": {
              "type": "string",
              "format": "date-time"
            },
            "end_time": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "min": {
          "type": "integer",
          "description": "The minimum instances of this entity"
        },
        "max": {
          "type": "integer",
          "description": "The maximum instances of this entity"
        },
        "target": {
          "type": "string",
          "description": "The target entity that has scaling restricted"
        }
      }
    },
    "configurationsJson": {
      "actor": "test",
      "operation": "test",
      "target": "test"
    },
    "policyModel": {
      "policyModelType": "onap.policies.controlloop.guard.common.MinMax",
      "version": "1.0.0",
      "policyAcronym": "MinMax",
      "policyPdpGroup": {
        "supportedPdpGroups": [
          {
            "defaultGroup": [
              "xacml"
            ]
          }
        ]
      },
      "createdDate": "2020-07-20T22:43:47.111424Z",
      "updatedDate": "2020-07-20T22:45:56.393331Z",
      "updatedBy": "Not found",
      "createdBy": "Not found"
    },
    "createdDate": "2020-07-21T13:08:50.188639Z",
    "updatedDate": "2020-07-21T13:08:50.188639Z",
    "updatedBy": "clamp@clamp.onap.org",
    "createdBy": "clamp@clamp.onap.org",
    "pdpGroup": "defaultGroup",
    "pdpSubgroup": "xacml"
  }
]
