{
    "type" : "object",
    "properties" : {
        "name" : {"type" : "string"},
    },
    "type" : "object",
    "properties" : {
        "components" : {"type" : "object"},
        "properties" : {
            "POLICY" : {"type" : "object"},
            "properties" : {
                "componentState" : {"type" : "object"},
                "properties" : {
                    "stateName" : {"type" : "string"}
                    }
            },
            "DCAE" : {"type" : "object"},
            "properties" : {
                "componentState" : {"type" : "object"},
                "properties" : {
                    "stateName" : {"type" : "string"}
                    }
            }
        }
    },
}