{
    "cloud_owner": "{{ cloud_region.cloud_owner }}",
    "cloud_region_id": "{{ cloud_region.cloud_region_id }}",
    "orchestration_disabled": "{{ cloud_region.orchestration_disabled }}",
    "in_maint": "{{ cloud_region.in_maint }}",
    "cloud_type": "{{ cloud_region.cloud_type }}",
    "owner_defined_type": "{{ cloud_region.owner_defined_type }}",
    "cloud_region_version": "{{ cloud_region.cloud_region_version }}",
    "identity_url": "{{ cloud_region.identity_url }}",
    "cloud_zone": "{{ cloud_region.cloud_zone }}",
    "complex_name": "{{ cloud_region.complex_name }}",
    "sriov_automation": "{{ cloud_region.sriov_automation }}",
    "cloud_extra_info": "{{ cloud_region.cloud_extra_info }}",
    "upgrade_cycle": "{{ cloud_region.upgrade_cycle }}",
    "resource_version": "{{ cloud_region.resource_version }}"
}