{
    "input": {
        "request-information": {
            "notification-url": "onap.org",
            "order-number": "1",
            "order-version": "1",
            "request-action": "PreloadVNFRequest",
            "request-id": "test"
        },
        "sdnc-request-header": {
            "svc-action": "reserve",
            "svc-notification-url": "http:\/\/onap.org:8080\/adapters\/rest\/SDNCNotify",
            "svc-request-id": "test"
        },
        "vnf-topology-information": {
            "vnf-assignments": {
                "availability-zones": [],
                "vnf-networks": [],
                "vnf-vms": []
            },
            "vnf-parameters": [
                {% for vnf_parameter in vnf_parameters %}
                    {
                        "vnf-parameter-name": "{{ vnf_parameter.name }}",
                        "vnf-parameter-value": "{{ vnf_parameter.value }}"
                    }
                {% endfor %}
            ],
            "vnf-topology-identifier": {
                "generic-vnf-name": "{{ vnf_instance.name }}",
                "generic-vnf-type": "{{ vnf.name }}",
                "service-type": "{{ service_instance.instance_id }}",
                "vnf-name": "{{ vf_module_instance_name }}",
                "vnf-type": "{{ vf_module.metadata["vfModuleModelName"] }}"
            }
        }
    }
}