{
    "input": {
        "request-information": {
            "notification-url": "onap.org",
            "order-version": "1",
            "request-action": "PreloadNetworkRequest",
            "request-id": "test",
            "order-number": "1"
        },
        "preload-network-topology-information": {
            "network-policy": [],
            "route-table-reference": [],
            "vpn-bindings": [],
            "network-topology-identifier-structure": {
                "network-role": "string",
                "network-technology": "string",
                "network-name": "{{network_instance_name}}",
                "network-type": "Generic NeutronNet"
            },
            "is-external-network": false,
            "is-shared-network": false,
            "is-provider-network": false,
            "subnets": [
                {
                    "subnet-name": "string",
                    "subnet-role": "string",
                    "start-address": "string",
                    "cidr-mask": "string",
                    "ip-version": "string",
                    "dhcp-enabled": "Y",
                    "dhcp-start-address": "string",
                    "dhcp-end-address": "string",
                    "gateway-address": "string",

                }
            ]
        },
        "sdnc-request-header": {
            "svc-request-id": "test",
            "svc-notification-url": "http:\/\/onap.org:8080\/adapters\/rest\/SDNCNotify",
            "svc-action": "reserve"
        }
    }
}