{
    "artifactGroupType" : "DEPLOYMENT",
    "artifactName" : "{{artifact_name}}",
    "artifactLabel" : "test",
    "artifactType" : "{{artifact_type}}",
    "description" : "test_tca",
    "payloadData": "{{b64_artifact}}",
    "heatParameters":[]
}

