{   "modelName": "{{ vf_model_name }}",
    "modelVersion": "{{ vf_model_version }}",
    "modelVersionId": "{{ vf_model_version_id }}",
    "modelInvariantUuid": "{{ vf_model_invariant_uuid }}",
    "modelCustomizationId": "{{ vf_model_customization_id }}"
}
